mixin file(text, href)
  a(href!=href)
    span.glyphicon.glyphicon-file 
    |  
    = text

mixin lab-file(num, href)
  +file("Instruktionsdokument (L"+num+")")





html5(lang="sv")
  head
    meta(charset="utf-8")
    title Labbinstuktioner | E-tjänster VT14
    link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    style
      | .container{
      |   max-width: 960px;
      | }
      | body{
      |   margin-bottom: 30px;
      | }

  body
    .container
      h1 Laborationer &mdash; E-tjänster VT14

      p Ingen av laborationerna har obligatoriska inlämningar. Däremot kommer du behöva lämna in en slutgiltig laborationsuppgift. Denna slutgiltiga laborationsuppgift kommer att vara <b>signifikant</b> lättare att genomföra om du faktiskt deltagit på laborationerna. Det är nämligen i stort sett den uppgiften vi jobbar med på laborationerna. Den slutgiltiga laborationsuppgiften ska lämnas in på Studentportalen och ska sedan muntligt redovisas individuellt.

      hr


      h3 Laboration 1
      p I den här laborationen börjar vi arbeta med alla teknikerna <code>html</code>, <code>css</code>, <code>javascript</code>, <code>php</code> och <code>mysql</code> samtidigt. Målet är att bygga ett kommentarsflöde. Där användare kan posta och läsa kommentarer.
      +lab-file(1, "docs/lab1/01-lab.pdf")
      h4 Förberedelsematerial
      ul
        li HTML, CSS, JavaScript
          ul
            li
              a(href="http://htmlhunden.se/dist/toc.html") HTMLHunden &mdash; Alla kapitel om HTML
            li
              a(href="http://htmlhunden.se/dist/toc.html") HTMLHunden &mdash; Alla kapitel om CSS
            li
              a(href="http://htmlhunden.se/dist/toc.html") HTMLHunden &mdash; Alla kapitel om JavaScript
        li PHP
          ul
            li
              a(href="http://htmlhunden.se/dist/08-00-php-intro.html") HTMLHunden &mdash; 8.0 PHP Introduktion
            li
              a(href="http://htmlhunden.se/dist/08-01-php-installation.html") HTMLHunden &mdash; 8.1 PHP Installation
            li
              a(href="http://htmlhunden.se/dist/08-02-php-syntax.html") HTMLHunden &mdash; 8.2 PHP Syntax
            li
              a(href="http://htmlhunden.se/dist/08-03-php-debugging.html") HTMLHunden &mdash; 8.3 PHP Felsökningstekniker
            li
              a(href="http://htmlhunden.se/dist/08-04-php-data-forms.html") HTMLHunden &mdash; 8.4 PHP Att skicka data till servern
        li MySQL
          ul
            li
              a(href="http://htmlhunden.se/dist/09-00-mysql-intro.html") HTMLHunden &mdash; 9.0 MySQL Introduktion
            li
              a(href="http://htmlhunden.se/dist/09-03-mysql-api.html") HTMLHunden &mdash; 9.3 MySQL PHP API


          

      hr

      h3 Laboration 2
      p I den här laborationen ska vi arbeta med <code>sessions</code>. Vi bygger registrerings- och inloggningsfunktionalitet till den sida vi byggde i föregående laboration.
      +lab-file(2, "docs/lab2/02-lab.pdf")
      h4 Förberedelsematerial
      ul
        li
          a(href="#") Link 1
        li
          a(href="#") Link 2
        li
          a(href="#") Link 3

      hr

      h3 Laboration 3
      p I den här laborationen arbetar vi först med att <code>refaktorera</code> vår kod. Vi experimenterar med olika tekniker och strategier en kan använda för att kunna uppnå större kontroll över koden i en applikation. Utan att förändra funktionalitet. Sedan introducerar vi <code>AJAX</code>. Målet blir att göra om vår applikation till en <code>Single Page Application</code>.
      +lab-file(3, "docs/lab3/03-lab.pdf")
      h4 Förberedelsematerial
      ul
        li
          a(href="#") Link 1
        li
          a(href="#") Link 2
        li
          a(href="#") Link 3

      hr

      h3 Laboration 4
      p I den här slutgiltiga laborationen tränar vi både på att skriva <code>algoritmer</code> i <code>php</code> såväl som rekursiva/cirkulära databasmodeller. Vi fortsätter på kommentarsflödesapplikationen och gör så att kommentarer kan vara svar på andra kommentarer.
      +lab-file(4, "docs/lab4/04-lab.pdf")
      h4 Förberedelsematerial
      ul
        li
          a(href="#") Link 1
        li
          a(href="#") Link 2
        li
          a(href="#") Link 3


      hr


      h3 Obligatorisk slutlig inlämning
      p Denna uppgift är i stort sett alla laborationerna kombinerade. Men med vissa tillägg och vissa borttagningar. Så läs igenom kravdokumentet noga.
      +file("Slutgiltig inlämning", "docs/final-handin/final-handin.pdf")


