mixin file(num, href)
  a(href!=href)
    span.glyphicon.glyphicon-file 
    |  Instruktionsdokument (L
    =num
    | )




html5(lang="sv")
  head
    meta(charset="utf-8")
    title Labbinstuktioner | E-tjänster VT14
    link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    style
      | .container{
      |   max-width: 960px;
      | }

  body
    .container
      h1 Laborationer &mdash; E-tjänster VT14

      hr


      h3 Laboration 1
      p I den här laborationen börjar vi arbeta med alla teknikerna <code>html</code>, <code>css</code>, <code>javascript</code>, <code>php</code> och <code>mysql</code> samtidigt. Målet är att bygga ett kommentarsflöde. Där användare kan posta och läsa kommentarer.
      +file(1, "https://github.com/BinaryHeart/EServicesAndWebprograming/raw/gh-pages/lab1/01-lab.pdf")
      h4 Förberedelsematerial
      ul
        li
          a(href="#") Link 1
        li
          a(href="#") Link 2
        li
          a(href="#") Link 3

      hr

      h3 Laboration 2
      p I den här laborationen ska vi arbeta med <code>sessions</code>. Vi bygger registrerings- och inloggningsfunktionalitet till den sida vi byggde i föregående laboration.
      +file(2, "https://github.com/BinaryHeart/EServicesAndWebprograming/raw/gh-pages/lab2/02-lab.pdf")
      h4 Förberedelsematerial
      ul
        li
          a(href="#") Link 1
        li
          a(href="#") Link 2
        li
          a(href="#") Link 3

      hr

      h3 Laboration 3
      p Lorem ipsum dolor et amet.
      +file(3, "https://github.com/BinaryHeart/EServicesAndWebprograming/raw/gh-pages/lab3/03-lab.pdf")
      h4 Förberedelsematerial
      ul
        li
          a(href="#") Link 1
        li
          a(href="#") Link 2
        li
          a(href="#") Link 3

      hr

      h3 Laboration 4
      p Lorem ipsum dolor et amet.
      +file(4, "https://github.com/BinaryHeart/EServicesAndWebprograming/raw/gh-pages/lab4/04-lab.pdf")
      h4 Förberedelsematerial
      ul
        li
          a(href="#") Link 1
        li
          a(href="#") Link 2
        li
          a(href="#") Link 3


