html5
  meta(charset="utf-8")
  title Labbinstuktioner | E-tjänster VT14

h1 Laborationer
p.lead E-tjänster VT14

hr


h3 Laboration 1
p Lorem ipsum dolor et amet.
h4 Förberedelsematerial
ul
  li
    a(href="#") Link 1
  li
    a(href="#") Link 2
  li
    a(href="#") Link 3

hr

h3 Laboration 2
p Lorem ipsum dolor et amet.
h4 Förberedelsematerial
ul
  li
    a(href="#") Link 1
  li
    a(href="#") Link 2
  li
    a(href="#") Link 3

hr

h3 Laboration 3
p Lorem ipsum dolor et amet.
h4 Förberedelsematerial
ul
  li
    a(href="#") Link 1
  li
    a(href="#") Link 2
  li
    a(href="#") Link 3

hr

h3 Laboration 4
p Lorem ipsum dolor et amet.
h4 Förberedelsematerial
ul
  li
    a(href="#") Link 1
  li
    a(href="#") Link 2
  li
    a(href="#") Link 3


