mixin file(text, href)
  a(href!=href)
    span.glyphicon.glyphicon-file 
    |  
    = text

mixin lab-file(num, href)
  +file("Instruktionsdokument (L"+num+")", href)





html5(lang="sv")
  head
    meta(charset="utf-8")
    title Labbinstuktioner | E-tjänster VT14
    link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    style
      | .container{
      |   max-width: 960px;
      | }
      | body{
      |   margin-bottom: 30px;
      | }

  body
    .container
      h1 Labbinstruktioner &mdash; E-tjänster VT14
      p.lead Denna sida innhåller instruktioner för hur du bör angripa laborationerna under kursen e-tjänster och webbprogrammering 2014.

      p Vänligen <b>ladda inte ned de länkade pdf-filer</b> (eller denna sida för den delen) utan hämta de härifrån inför varje laboration. Eftersom vi skribenter bara är människor så är det mycket troligt att några fel råkat slinka in här och där. Således uppdaterar vi dokumenten kontinuerligt om så fort vi eller ni upptäcker att någonting är fel eller oklart. Så vänligen öppna alltså alltid dokumenten genom denna webbsida. Och om denna webbsida plötsligt inte finns. Utgå ifrån Studentportalen så länkar vi rätt därigenom.

      h4 Inlämnning
      p Ingen av laborationerna har obligatoriska inlämningar. Däremot kommer du behöva lämna in en slutgiltig laborationsuppgift. Denna slutgiltiga laborationsuppgift kommer att vara <b>signifikant</b> lättare att genomföra om du faktiskt deltagit på laborationerna. Det är nämligen i stort sett den uppgiften vi jobbar med på laborationerna. Den slutgiltiga laborationsuppgiften ska lämnas in på Studentportalen och ska sedan muntligt redovisas individuellt.

      h4 Examination
      p Den muntliga redovisningen kommer gå till så att du får visa ditt projekt. Sedan ställer examinatorn ett antal frågor som besvaras genom diskussion emellan dig och examinatorn. Det kan alltså liknas lite vid ett seminarium. Dessa frågor tas ifrån en frågebank som alla examinatorer delar. Dessa frågor är kodade i olika kategorier (php, mysql, arkitektur, etc) och du behöver uppnå godkänt i varje moment för att bli godkänd i det momentet.

      p Viss form av t.ex. googling kan tillåtas om du kan motivera för examinatorn varför det är viktigt. Examinationen handlar som sagt snarare om att kunna tillräckligt mycket för att kunna diskutera din kod med examinatorn. Det viktigaste är inte att ha exakt rätt första gången. Det viktiga är ditt resonemang. Samt att du förstås tillslut kommer fram till rätt svar.


      h4 Testerna
      p På denna sida listas även förberedelsematerial inför varje laboration. Detta material ligger till grund för varje laboration. Men materialet ger dig även information som du behöver för att klara av de obligatoriska pre-/post-testerna på Studentportalen. Notera dock, att din kreativitet kommer att vara viktig. Allt detta material bör inte ses som "uttömmande". Du kommer oundvikligen att behöva söka rätt på information på egen hand också. Således kan detta dokument istället ses som en "pekare i rätt riktning".

      p Det är alltså obligatoriskt att slutföra pre- och post-testerna på Studentportalen. Att klara alla testerna <b>innan respektive deadline</b> är ett krav för att få redovisa din slutgiltiga laboration. Om du inte klarar av alla testerna inom respektive utsatt tid kommer du att få redovisa vid ett senare tillfälle. Detta kan jämföras med en omtenta. För att "klara" ett test krävs det att du uppnåt <b>minst 80% rätt</b>. Tänk på att du kan göra testet hur många gånger som helst före deadline.


      h4 Teknisk information
      p Det är som vanligt helt ok att arbeta på egen dator. Men för dig som arbetar i labbsalen så är <a href="docs/technical-instructions/technical-instructions.pdf">detta dokument med tekniska instruktioner</a> att rekommendera.


      hr


      h3 Laboration 1
      p I den här laborationen börjar vi arbeta med alla teknikerna <code>html</code>, <code>css</code>, <code>javascript</code>, <code>php</code> och <code>mysql</code> samtidigt. Målet är att bygga ett kommentarsflöde. Där användare kan posta och läsa kommentarer.
      +lab-file(1, "docs/lab1/01-lab.pdf")
      h4 Förberedelsematerial
      ul
        li HTML, CSS
          ul
            li
              a(href="http://htmlhunden.se/dist/toc.html") HTMLHunden &mdash; Alla kapitel om HTML
            li
              a(href="http://htmlhunden.se/dist/toc.html") HTMLHunden &mdash; Alla kapitel om CSS
        li JavaScript
          ul
            li
              a(href="http://htmlhunden.se/dist/toc.html") HTMLHunden &mdash; Alla kapitel om JavaScript
            li JavaScript Form Validation &mdash; 
              a(href="http://www.youtube.com/watch?v=ZxtXE5mVuEs") del 1
              |, 
              a(href="http://www.youtube.com/watch?v=s8ageq0RIg0") del 2
              |  (~16 min video)

            li
              a(href="http://www.youtube.com/playlist?list=PLEDbaVSIL58PGMFRXCexch93F7FSFRHCg") JavaScript tutorial Playlist
              |  (Extraresurs om du behöver mer stöd med JavaScript)
        li PHP
          ul
            li
              a(href="http://htmlhunden.se/dist/08-00-php-intro.html") HTMLHunden &mdash; 8.0 PHP Introduktion
            li
              a(href="http://htmlhunden.se/dist/08-01-php-installation.html") HTMLHunden &mdash; 8.1 PHP Installation
            li
              a(href="http://htmlhunden.se/dist/08-02-php-syntax.html") HTMLHunden &mdash; 8.2 PHP Syntax
            //li
            //  a(href="http://htmlhunden.se/dist/08-03-php-debugging.html") HTMLHunden &mdash; 8.3 PHP Felsökningstekniker
            li
              a(href="http://htmlhunden.se/dist/08-04-php-data-forms.html") HTMLHunden &mdash; 8.4 PHP Att skicka data till servern
            li
              a(href="http://www.youtube.com/watch?v=tRHma2JTiL4") PHP Form Validation (~10 min video)
        li MySQL
          ul
            li
              a(href="http://htmlhunden.se/dist/09-00-mysql-intro.html") HTMLHunden &mdash; 9.0 MySQL Introduktion
            li
              a(href="http://htmlhunden.se/dist/09-03-mysql-api.html") HTMLHunden &mdash; 9.3 MySQL PHP API


          

      hr

      h3 Laboration 2
      p I den här laborationen ska vi arbeta med <code>sessions</code>, <code>hash</code>:ning och <code>salt</code>:ning. Vi bygger registrerings- och inloggningsfunktionalitet till den sida vi byggde i föregående laboration.
      +lab-file(2, "docs/lab2/02-lab.pdf")
      h4 Förberedelsematerial
      p Kommer snart...
      //  li PHP Sessioner
      //  li Användarautentisering med PHP och MySQL
      //  li a(href="http://sv.wikibooks.org/wiki/Programmera_i_PHP/Kryptering_och_PHP") Kryptering och PHP 
      //  li a(href="http://code.tutsplus.com/tutorials/understanding-hash-functions-and-keeping-passwords-safe--net-17577") Ytterligare aspekter om lösenord.

      hr

      h3 Laboration 3
      p I den här laborationen arbetar vi med att <code>refaktorera</code> vår kod. Vi experimenterar med olika tekniker och strategier en kan använda för att kunna uppnå större kontroll över koden i en applikation. Utan att förändra funktionalitet.
      +lab-file(3, "docs/lab3/03-lab.pdf")
      h4 Förberedelsematerial
      p Kommer snart...

      hr

      h3 Laboration 4
      p I den här slutgiltiga laborationen introducerar vi <code>AJAX</code>. Målet blir att göra om vår applikation till en <code>Single Page Application</code>.
      +lab-file(4, "docs/lab4/04-lab.pdf")
      h4 Förberedelsematerial
      p Kommer snart...


      hr


      h3 Obligatorisk slutlig inlämning
      p Denna uppgift är i stort sett alla laborationerna kombinerade. Men med vissa tillägg och vissa borttagningar. Så läs igenom kravdokumentet noga.
      +file("Slutgiltig inlämning", "docs/final-handin/final-handin.pdf")


